.wrap {
  text-align: center;
  margin-bottom: 48px;
}
.tal {
  text-align: left;
}
.pill {
  color: #fff;
  background-color: #22c55e;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 50px;
  display: inline-block;
}

.title {
  font-size: 36px;
  margin-bottom: 16px;
}
.subtitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
}
.light {
  color: #22c55e;
  background-color: #dcfce7;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 50px;
  font-size: 12px;
  display: inline-block;
}
.bigTitle {
  color: #2a3342;
  font-weight: 700;
  font-size: 48px;
}
.bigSub {
  color: #556987;
  font-size: 20px;
  font-weight: 500;
}
.light2 {
  color: #14532d;
  background-color: #dcfce7;
}
.bigTitleWhite {
  color: white;
}
.bigSubW {
  color: #8896ab;
}
